{
  "api.version": "v1",
  "sources": [
        {
            "name": "Docker-${LOG_APPLICATION}-${ENVIRONMENT}-logs",
            "category": "docker/logs/${LOG_APPLICATION}/${ENVIRONMENT}",
            "allContainers": true,
            "collectEvents": true,
            "uri": "unix:///var/run/docker.sock",
            "specifiedContainers": [],
            "multilineProcessingEnabled": false,
            "sourceType": "DockerLog"
        },
        {
            "name": "Docker-${LOG_APPLICATION}-${ENVIRONMENT}-stats",
            "category": "docker/stats/${LOG_APPLICATION}/${ENVIRONMENT}",
            "automaticDateParsing": true,
            "forceTimeZone": false,
            "cutoffTimestamp": 0,
            "uri": "unix:///var/run/docker.sock",
            "specifiedContainers": [],
            "allContainers": true,
            "multilineProcessingEnabled": false,
            "certPath": "",
            "sourceType": "DockerStats"
        }
   ]
}
